<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Help</h1>
		<p>If you're having trouble navigating the website, please refer
			to the following instructions below:</p>

		<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto1" aria-expanded="false"
			aria-controls="collapseExample">How to reserve a room</button>

		<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto2" aria-expanded="false"
			aria-controls="collapseExample">How to modify a reservation</button>

		<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto3" aria-expanded="false"
			aria-controls="collapseExample">How to delete a reservation</button>

		<!-- How to #1 -->
		<div id="howto1" class="collapse in">
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1_1.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>1-Select the room you wish to book from the left side panel.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1_2.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>2-Select the day, then click on "Reserve This Room" on the
						top right corner of the calendar.</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1_3.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>3-Select the time slot by clicking & dragging over the
						calendar view of the selected day. If you make a mistake, the
						"Reserve" button will warn you before submitting.</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1_3.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>4-If your selection is valid, the button will turn green and
						display as "Reserved". Click it to confirm your reservation.</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1_5.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>5-You will be redirected to the calendar view for this room,
						where you should see the reservation under your name.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- How to #2 -->
	<div id="howto2" class="collapse">
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard2_1.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>1-Click on the "Profile" button on the top right of any page.
				</p>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard2_2.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>2-You profile page lists the reservations made under your
					name. Click modify reservation under the Actions column for the
					reservation you wish to modify.</p>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard2_3.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>3-Click and drag the center of the reservation if you just wish
				to move the starting time, while conserving the interval period.
				</p>
			</div>
		</div>
		
		<hr>
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard2_4.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>4-Click and drag the bottom of the reservation to extend the
				interval period of the reservation.
				</p>
			</div>
		</div>
	</div>

	<!-- How to #3 -->
	<div id="howto3" class="collapse">
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard4.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>1-Click on the "Profile" button on the top right of any page.
				</p>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard5.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>2-You profile page lists the reservations made under your
					name. Click modify reservation under the Actions column for the
					reservation you wish to modify.</p>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-8 pull-left">
				<img class="img-responsive" src="../images/storyboard6.png">
			</div>
			<div class="col-md-4 pull-right">
				<p>3-Modify your reservation time by dragging the time slot that
					you have reserved, then click on "Modify Reservation"</p>
			</div>
		</div>
	</div>


</div>
</div>
<!-- /container -->

