<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Help</h1>
		<p>If you're having trouble navigating the website, please refer
			to the following instructions below:</p>

		<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto1" aria-expanded="false"
			aria-controls="collapseExample">How to reserve a room</button>
			
			<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto2" aria-expanded="false"
			aria-controls="collapseExample">How to modify a reservation</button>
			
			<button class="btn btn-primary" type="button" data-toggle="collapse"
			data-target="#howto3" aria-expanded="false"
			aria-controls="collapseExample">How to delete a reservation</button>
			
<!-- How to #1 -->
		<div id="howto1" class="collapse in">
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard1.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>1-Select the room you wish to book from the left side panel.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard2.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>2-Select the day, then click on "Reserve This Room" on the
						top right corner of the calendar.</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard3.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>3-Select the time slot by clicking & dragging over the
						calendar view of the selected day, then click on "Reserve" button.
					</p>
				</div>
			</div>
		</div>
		
		<!-- How to #2 -->
		<div id="howto2" class="collapse">
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard4.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>1-Click on the "Profile" button on the top right of any page.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard5.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>2-You profile page lists the reservations made under your name. Click modify
					reservation under the Actions column for the reservation you wish to modify.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard6.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>3-Modify your reservation time by dragging the time slot that you have reserved,
					then click on "Modify Reservation"
					</p>
				</div>
			</div>
		</div>
		
		<!-- How to #3 -->
		<div id="howto3" class="collapse">
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard4.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>1-Click on the "Profile" button on the top right of any page.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard5.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>2-You profile page lists the reservations made under your name. Click modify
					reservation under the Actions column for the reservation you wish to modify.
					</p>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-8 pull-left">
					<img class="img-responsive" src="../images/storyboard6.png">
				</div>
				<div class="col-md-4 pull-right">
					<p>3-Modify your reservation time by dragging the time slot that you have reserved,
					then click on "Modify Reservation"
					</p>
				</div>
			</div>
		</div>
		
			
	</div>
</div>
<!-- /container -->

