<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello!</h1>
    <p>Get a Room is a web application made for your convenience used by Concordia for the purpose of administrating room reservations.

      The rooms displayed on the left of the screen can be reserved by you as long as the spot is free! If not, you will be placed on a waiting list. Be wary, you might not be the only one waiting in line for the same spot!

      We advise reserving time slots for rooms well in advance.</p>

    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <!-- Example row of columns -->
      <h1 style="color:black;">Get A Room</h2>
      <br>
      <p>Get A Room is a web application made by Team Alpha Prime for the class SOEN 343 in Fall 2016 under the supervision and tutelage of Dr. Constantinos Constantinides of the department of Engineering and Computer Science of Concordia University. </p>
      <hr>
      
      <footer>
        <p>&copy; Team Alpha Prime</p>
      </footer>
    </div>
  </div> <!-- /container -->

