<div id="room-page" class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <!-- <div class="page-header"> -->
        <div class="col-md-4">
          <h1><span class="label label-danger">View: {{thisroom.description}}</span></h1>
        </div>
        <div class="col-md-offset-4 col-md-4 reserve-button">
          <button ng-hide="hideReservationButton" ng-click="buttonClick()" type="button" ng-class="buttonValid ? 'btn btn-success' : 'btn btn-danger'">{{buttonText}}</button>
        </div>
        <!-- </div> -->
      </div>
      <div class="well">
        <div class="starter-template">
          <!-- <h1>Schedule</h1> -->
          <div class="row">
            <div class="col-md-12">
              <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div><!-- /.container -->
