<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="../images/UserImage.png">
          </a>
          <div class="media-body">
            <!-- Insert User ID from java -->
            <h4 class="media-heading">{{username}}</h4>
            <!-- Not really sure how to pull reservation numbers here or userID yet -->
            <p><span class="label label-info">Reservations</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well well-md">
        <div class="alert alert-warning" role="alert"> <span style="font-weight: bold; font-size: 2em;">Warning!</span><br>
          Canceling the class will make you lose your spot in the queue if another reservation is waiting for the time slot to be freed up!
        </div>
        <table class="table table-striped">
         <thread>
           <tr>
            <th>#</th>
            <th>Room</th>
            <th>Position</th>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Modifications</th>
            <th>Delete</th>
          </tr>
        </thread>
        <tbody>
          <!--Testing repeating factor through table waiting for push of reservation ID and user ID-->
          <tr ng-repeat = "rooms in rooms">
            <td></td>
            <td><a ui-sref="rooms.detail({ id: rooms.id })"> {{ rooms.description }}</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-sm btn-danger">Modify</button></td>
            <td>

              <div class="dropdown">
              <button class="btn btn-sm btn-danger dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Delete
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Confirm</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cancel</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>


        <div class="alert alert-info" role="alert">
          <Strong style="font-size: 2em;">Careful!</Strong>
          <p style= "font-size: 1em;">Modifications can apply the same restrictions as creating a new reservation. 
          </p>
          <br>
          <p style= "font-size: 1em;">
            Modifications that increases the time range of the reservation will be blocked if and only if it impedes the reserved time slot of a reservation that wasn't waiting for your reservation to finish beforehand or transcends the opening or closing time of the building housing the room in which the reservation takes place.
          </p>
          <br>
          <p style="font-size:1em;">
            Furthermore, if the reservation is reduced in time and the reservation being currently modified frees a time slot that was requested by a reservation further in the line than they are, that specific time slot will be taken with no possibility of taking it back with the exclusion of going back to the back of the reservation queue.
          </p>
        </div>

      </div>
    </div>


  </div>
</div>